<div class="content">
	<ol class="breadcrumb">
		<li><span class="glyphicon glyphicon-calendar"></span> DATE :</li>
		<li>2014</li>
		<li>12</li>
		<li>18</li>
		<li>Thursday</li>
		<li class="pull-right">
			<button type="button" class="btn btn-insert glyphicon glyphicon-plus"></button>
		</li>
	</ol>
	<ul class="item">	  
		<% for (i=0; i<=6; i++) { %>
			<li class"showInfo"> 	
			  	<label class="alignL">
			  		<input type="checkbox">
			  	</label>
			  	<label class="alignR">
			  		<span class="glyphicon glyphicon-remove"></span>
			  	</label>
			  	<a href="#">
				  	<h4>準備家教教材：範例練習</h4><small>PM 04:00</small>
				  	<p>排除萬難都要參加coServ workshop</p>
			  	</a>  	
			</li>	
		<% } %>  
	</ul>	
</div>
